#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: #124e78;
}
.bg-custom {
  background-color: #00afd0 !important;
  color: #fff !important;
}
.bg-custom-2 {
  background: #ddf9ff !important;
}
.btn-custom-1 {
  background-color: #00afd0 !important;
  color: #fff !important;
}
.text-custom-color {
  color: #00afd0 !important;
}

.btn-custom-1:hover {
  background-color: #008faa !important;
  border-color: #00849d !important;
}

.btn-custom-2 {
  background-color: #00afd0 !important;
  color: #fff !important;
  transition: 0.5s !important;
}

.btn-custom-2:hover {
  background-color: white !important;
  color: #00afd0 !important;
  border: 1px solid #124e78 !important;
}

.btn-custom-3 {
  background-color: #fff !important;
  color: #00afd0 !important;
  transition: 0.5s !important;
  border: 1px solid #00afd0 !important;
  line-height: 16px !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
  padding: 16px 24px !important;
}

.btn-custom-3:hover {
  background-color: #00afd0 !important;
  color: #fff !important;
}

.btn-outline-white {
  color: #fff !important;
  border-color: #fff !important;
  padding: 1rem 1.5rem !important;
  font-size: 1.1rem !important;
  line-height: 1.5 !important;
}

.btn-outline-white:hover {
  color: #212529 !important;
  background-color: #fff !important;
  border-color: #fff;
}
.text-custom-color-2 {
  color: #124e78 !important;
}
.text-custom-color-3 {
  color: #00afd0 !important;
}
.fs-custom-18 {
  font-size: 18px;
}
/* header code starts  */
.main-menu-area {
  height: 108px;
  background-color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #00afd0 !important; /* Replace with your preferred shade of blue */
  color: white; /* Optional, in case you want to change the arrow color */
  border-radius: 50%; /* Optional, for circular buttons */
  width: 40px !important; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  align-items: center; /* Center the arrow vertically */
  justify-content: center; /* Center the arrow horizontally */
  opacity: initial !important;
  background: 1 !important;
  margin: 0 12px 0 12px;
  top: 45% !important; /* Position the top edge of the button at the middle of the carousel */
}

.card {
  padding: 2em;
}

.stepsCard {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px !important;
  padding: 30px 25px;
  text-align: center;
}
.stepsCard::before,
.stepsCard::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background: url(../images/icons/Arrow-icon.svg) no-repeat;
  background-size: 24px 24px;
  left: -85px;
  top: 50%;
  transform: translateY(-50%);
}

.stepsCard h5 {
  color: #124e78;
  font-weight: 700;
}
/*why area */
.why-bottom-area {
  background: #00afd0;
  border-radius: 16px;
  padding-top: 190px;
  margin-top: -177px;
}
.whyCard {
  background: #fff;
  box-shadow: 0px 10px 36px rgba(18, 78, 120, 0.08);
  border-radius: 16px !important;
  padding: 30px 20px;
  min-height: 270px;
  margin-bottom: 30px;
}

.whyCard h3 {
  color: #124e78;
  font-size: 22px !important;
  font-weight: 700;
}

.whyCard p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #124e78;
}

.spaceBetween {
  padding: 80px 0px 0 0;
}
.banner-right {
  position: relative;
  height: 500px;
}
.banner-right img {
  width: 100;
}
.banner-right2 {
  position: absolute;
  bottom: 0;
  width: 90%;
}
/*work steps code start here*/
.work-steps {
  padding: 80px 0;
  position: relative;
  margin-top: -2px;
  background: transparent;
}
.work-steps:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 424px;
  background: #ddf9ff;
  border-radius: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
}
.work-steps .work-step-cards {
  position: absolute;
  top: 55%;
}
.work-steps .center-card::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background: url(./assets/Arrow-icon.svg) no-repeat;
  background-size: 24px 24px;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.work-steps .center-card::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background: url(./assets/Arrow-icon.svg) no-repeat;
  background-size: 24px 24px;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.section-title {
  text-align: center;
  margin-bottom: 48px;
  background: transparent !important;
  z-index: 9 !important;
  position: relative;
}

.work-steps .work-text h2 {
  font-size: 32px;
  line-height: 42px;
  color: #124e78;
  font-weight: bold;
}
/* why area starts here*/
.whyArea {
  padding: 80px 0 95px 0;
}
.why-bottom-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.headingBanner {
  font-size: 45px;
  line-height: 42px;
  color: #fff;
  font-weight: bold;
}

.pBanner {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
}

.work-steps p {
  font-size: 1.1rem;
  line-height: 27px;
  font-weight: 500;
  color: #124e78;
}

.title {
  font-size: 45px;
  line-height: 42px;
  color: #124e78;
  font-weight: bold;
}

.summary {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #124e78;
}

.floatRight {
  display: block;
  color: #124e78;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.floatRight:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

.mainButton {
  background-color: #00afd0;
  float: left;
  border-radius: 30px;
  color: #fff;
  padding: 1rem 4.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.priceButton {
  background-color: white;
  float: left;
  border-radius: 5px;
  border: 1px solid #124e78;
  color: #124e78;
  padding: 1rem 4.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.priceButton:hover {
  background-color: white;
  color: #00afd0;
  border: 1px solid #00afd0;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.footerButton {
  background-color: #00afd0;
  float: left;
  border-radius: 30px;
  color: #fff;
  /* padding: 1rem 4.5rem; */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
}

.footerButton:hover {
  background-color: white;
  color: #00afd0;
  border: 1px solid #124e78;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.mainButton:hover {
  background-color: white;
  color: #00afd0;
  border: 1px solid #124e78;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 5px 16px;
}

.active {
  background-color: #00afd0;
  float: right;
  border-radius: 10px;
  color: #fff;
}

.main-menu ul li a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #124e78;
  transition: all 0.5s ease-in-out;
  padding: 6px 0;
}

.main-menu ul li a:hover,
.main-menu ul li a:active {
  border-bottom: 3px solid #00afd0;
}

.headerShadow {
  background-color: #fff;
  box-shadow: 0px 10px 36px rgba(18, 78, 120, 0.08);
  /* Adjust shadow as needed */
  transition: box-shadow 0.3s ease-in-out;
}

.sloganText {
  margin-top: 60px;
}
.sloganText h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #124e78;
  margin-bottom: 15px;
  text-align: left;
}

.sloganText p {
  font-size: inherit;
  line-height: 27px;
  font-weight: 500;
  color: #124e78;
  margin-bottom: 48px;
  text-align: left;
}

.testimonialBanner {
  position: relative;
  width: 90%;
  height: 600px;
  background: #00afd0;
  border-radius: 16px;
  margin: 0 auto;
}

.myCarousel {
  padding: 10px;
  z-index: 232323;
  background: #fff;
  padding-bottom: 35px;
}
.testimonial1 {
  background: #ddf9ff !important;
  border-radius: 16px !important;
  padding: 56px 125px 135px;
}
.para-comment {
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #124e78;
}
.text-custom-color-4 {
  color: #124e78 !important;
}
.fs-custom-small {
  line-height: 21px;
  font-size: 14px;
}
.carousel-indicators {
  display: none !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 1.2rem !important;
  height: 1.2rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.testimonial-card {
  background: #fff;
  box-shadow: 0px 10px 36px rgba(18, 78, 120, 0.08);
  border-radius: 16px !important;
  padding: 25px;
  width: 302px;
  margin: 0 auto;
  margin-top: -95px;
}

.commit-area {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}
.commit-text {
  font-size: 1.1rem;
}
.mob-visible {
  display: none;
}
.care-area {
  margin-bottom: 90px;
}
.care-bg-area {
  background: #ddf9ff;
  border-radius: 16px;
  padding: 150px 0 104px 0;
  margin-top: -75px;
}
.care-bg {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fs-custom {
  font-size: 1.1rem;
}
/* footer starts here  */
footer {
  background: #f9f9f9 !important;
  padding: 70px 0 30px 0;
}
.footer-logo {
  width: 100px;
}
.footer-1 h4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #124e78;
}
.footer-1 ul li,
.footer-1 p,
.footer-1 .phone-item {
  font-size: 12px;
  line-height: 16px;
  color: #124e78;
  font-weight: 500;
}

.locationInfo-item {
  margin-bottom: 40px;
}

a.numberVal-tel {
  color: #00afd0;
  text-decoration: none;
  background-color: transparent;
}
/*Faq page*/
.no-hero-banner {
  padding: 72px 100px 200px;
  text-align: center;
}
.no-hero-banner h2 {
  font-size: 46px;
  line-height: 60px;
  font-weight: bold;
  color: #124e78;
  margin-bottom: 16px;
}
.faq-page-1 h3 {
  font-size: 24px;
  line-height: 31px;
  color: #00afd0;
  font-weight: bold;
  margin-bottom: 5px;
}
.faq-main-area {
  margin-top: -170px;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2300afd0' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/%3E%3C/svg%3E") !important;
  position: absolute;
  left: 1.25rem; /* Adjust the value as needed to move the arrow to the desired position */
  transition: transform 0.3s;
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='%2300afd0' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E") !important;
}
.accordion-item {
  background: #fff;
  box-shadow: 0px 10px 36px rgba(18, 78, 120, 0.08) !important;
  border-radius: 16px !important;
  padding: 15px 25px !important;
  margin-bottom: 25px !important;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.subpage-banner {
  padding: 45px 0;
}

.maid-service-area {
  padding: 70px 0 50px 0;
}

.faq-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddf9ff;
  border-radius: 8px;
  padding: 17px 20px;
  width: 80%;
  margin: 0 auto;
}
.deep-cleaner-block {
  margin-top: -50px;
  z-index: -99 !important;
}
.cleaner-block-list {
  padding: 85px 0;
}
.maid-service-right {
  z-index: 999 !important;
  display: block;
  position: relative;
}

.cleaner-block {
  width: 17%;
  margin: 12px 15px;
}

.border-custom-bottom {
  border-bottom: #00afd0 solid 2px;
  width: fit-content;
}
