#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: #124E78;
}


.carousel-control-prev,
.carousel-control-next {
  background-color: #00AFD0 !important; /* Replace with your preferred shade of blue */
  color: white; /* Optional, in case you want to change the arrow color */
  border-radius: 50%; /* Optional, for circular buttons */
  width: 40px !important; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  align-items: center; /* Center the arrow vertically */
  justify-content: center; /* Center the arrow horizontally */
  opacity: initial !important;
  background: 1!important;
  margin: 0 12px 0 12px;
    top: 45% !important; /* Position the top edge of the button at the middle of the carousel */
}

.card {
  padding: 2em;
}

.stepsCard {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 30px 25px;
  text-align: center;
}

.stepsCard h5 {
  color: #124E78;
  font-weight: 700;
}

.whyCard {
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 30px 25px;
  text-align: left;
}

.whyCard h5 p {
  color: #124E78;
  font-weight: 700;
}

.whyCard h5 {
  color: #124E78;
  font-weight: 700;
}

.whyCard p {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: #124E78;
}


.spaceBetween {
  padding: 80px 0px 123px 0
}

.bannerSteps {
  position: relative;
  width: 90%;
  height: 600px;
  background: #ddf9ff;
  border-radius: 16px;
  margin: 0 auto;
}

.bannerSteps h1 {
  font-size: 45px;
  line-height: 42px;
  color: #124E78;
  font-weight: bold;
}

.headingBanner {
  font-size: 45px;
  line-height: 42px;
  color: #fff;
  font-weight: bold;
}

.pBanner {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
}

.bannerSteps p {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #124E78;
}

.title {
  font-size: 45px;
  line-height: 42px;
  color: #124E78;
  font-weight: bold;
}

.summary {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #124E78;
}

.floatRight {
  display: block;
  color: #124E78;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.floatRight:hover {
  filter: brightness(90%);
  transition: 0.5s;
}

.mainButton {
  background-color: #00AFD0;
  float: left;
  border-radius: 30px;
  color: #fff;
  padding: 1rem 4.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.priceButton {
  background-color: white;
  float: left;
  border-radius: 5px;
  border: 1px solid #124E78;
  color: #124E78;
  padding: 1rem 4.5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.priceButton:hover {
  background-color: white;
  color: #00AFD0;
  border: 1px solid #00AFD0;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.footerButton {
  background-color: #00AFD0;
  float: left;
  border-radius: 30px;
  color: #fff;
  /* padding: 1rem 4.5rem; */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
}

.footerButton:hover {
  background-color: white;
  color: #00AFD0;
  border: 1px solid #124E78;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.mainButton:hover {
  background-color: white;
  color: #00AFD0;
  border: 1px solid #124E78;
  transition: 0.5s;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 5px 16px;
}

li a {
  display: block;
  color: #124E78;
  text-align: center;
  padding: 5px 0px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: #124E78;
  /* Same color as the non-hover state */
  text-decoration: none;
}

.active {
  background-color: #00AFD0;
  float: right;
  border-radius: 10px;
  color: #fff;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #00AFD0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.headerShadow {
  background-color: #fff;
  box-shadow: 0px 10px 36px rgba(18, 78, 120, 0.08);
  /* Adjust shadow as needed */
  transition: box-shadow 0.3s ease-in-out;
}

.backGroundImg {
  height: 300px;
  /* Adjust as needed */
  width: 100%;
  background-image: url('./assets/carBackground.png');
  /* Adjust the path as needed */
  background-size: cover;
  /* Cover the entire area */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent repeating the image */
}

.sloganText h1 {
  font-size: 55px;
  font-weight: 700;
  color: #124E78;
  text-align: left;
}

.sloganText p {
  font-size: 25px;
  font-weight: 700;
  color: #59bfd2;
  text-align: left;
}

.testimonialBanner {
  position: relative;
  width: 90%;
  height: 600px;
  background: #00AFD0;
  border-radius: 16px;
  margin: 0 auto;
}

.myCarousel {
  border-radius: 16px;
  padding: 10px;
  background-color: #ddf9ff;
  z-index: 232323;
}